/python/
.env/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

.qtcreator/
*.user
*.pro.user
dist/
build/
.DS_Store
Thumbs.db

*.exe
*.dll
*.so
*.o
*.lib
*.pdb
*.log

!scripts/jammer_detect.exe
!scripts/pluto_udp_cmdd_bridge.exe
!scripts/udp_dump+.exe

!services/bitwrap.dll
!services/bitunwrap.dll
!services/rs_container.dll
